python3 --version
python3 -m venv env
source env/bin/activate

echo "streamlit
PyPDF2
langchain
spacy
transformers
faiss-cpu
python-dotenv
scikit-learn" > requirements.txt
streamlit==1.35.0
PyPDF2
faiss-cpu
langchain
spacy
transformers
torch
langchain-community
python-dotenv
scikit-learn
scipy
matplotlib
spacy 
en_core_web_sm